 body {
     min-width: 320px;
     max-width: 750px;
     width: 10rem;
     /* height: 20000px; */
     margin: 0 auto;
     line-height: 1.5;
     font-family: Arial, Helvetica;
     background: #f2f2f2;
 }

 /* 如果屏幕超过了 750px  就按照 750设计稿来走 不会让我们页面超过750px */

 @media screen and (min-width: 750px) {
     html {
         font-size: 75px !important;
     }
 }

 h3,
 h2 {
     font-weight: normal;
 }

 i {
     font-style: normal;
 }

 h2 {
     text-align: center;
     color: #144a74;
 }

 hr {
     background-color: #c7d2d4;
     border: none;
     width: 100%;
     margin-bottom: 0;
     height: 1px;
 }


 .explain {
     display: flex;
     flex-direction: column;

 }

 .explain i {
     align-self: flex-end;
     color: #baccd9;
     margin-right: .133333rem;
 }

 .explain div>h3 {
     font-size: 18px;
     color: #10aec2;
     margin-left: .133333rem;
     margin-bottom: .16rem;
 }

 .explain div :nth-child(2),
 .ssr {
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
     border-bottom-left-radius: 5px;
     border-bottom-right-radius: 5px;
 }

 .explain div :nth-child(2) {
     padding: .133333rem .133333rem .133333rem .133333rem;
     margin: 0 .133333rem 0 .133333rem;
     background-color: #12aa9c;
 }

 .explain div :nth-child(2) {
     font-size: 16px;
     text-indent: 2em;
     color: white;
     margin-top: 0px;
 }

 .explain div .message {
     text-align: center;
     color: #2b73af;
     line-height: 17px;
     font-size: 15px;
 }

 .ssr {
     background-color: #e2e1e4;
     text-align: center;
     margin: 0 .133333rem 0 .133333rem;
 }

 .ssr div {
     font-size: 13px;
 }

 .ssr h2 {
     margin-bottom: 0;
 }

 .ssr em {
     display: inline-block;
     width: 10px;
     height: 10px;
     margin: 0 .266667rem 0 .266667rem;
     background-color: red;
     border-radius: 50%;
 }

 .ssr p {
     padding: 0 .266667rem 0 .266667rem;
     margin-top: 0;
     line-height: 20px;
 }

 .ssr p::before {
     content: '';
     display: inline-block;
     width: 10px;
     height: 10px;
     background-color: red;
     border-radius: 50%;
 }

 .ssr :nth-child(3) {
     font-size: 13px;
 }

 .v2ray {
     word-wrap: break-word;
     word-break: break-all;
     border-bottom-left-radius: 0px !important;
     border-bottom-right-radius: 0px !important;

 }

 .v2ray p::before {
     background-color: rgb(8, 248, 8);

 }

 .v2ray em {
     background-color: rgb(8, 248, 8);
 }

 .v2ray .copy_btn {
     text-align: center;
     margin-bottom: 0;
 }

 .v2ray .copy_btn i.copy {
     color: #10aec2;
 }

 .v2ray .copy_btn img {
     width: 100px;
     height: 100px;
 }

 .footer {
     color: white;
     height: 2.1321961620469rem;
     margin-left: .133333rem;
     margin-right: .133333rem;
     overflow: hidden;
     border-bottom-left-radius: 5px;
     border-bottom-right-radius: 5px;
     margin-bottom: .133333rem;
     background-image: linear-gradient(rgb(0, 136, 222), rgb(1, 93, 194));
     position: relative;
 }
 .footer ul {
     padding-left: 0;
     display: flex;
     flex-wrap: nowrap;
     align-items: center;
     height: 100%;
     overflow: hidden;
     margin: 0;
     position: absolute;
     left: 0;
 }


 .footer ul li {
     width: 1.718120805rem;
     height: 1.718120805rem;
     display: flex;
     align-items: center;
     list-style: none;
     margin-right: 10px;
     border-radius: 50%;
 }
 .footer ul img{
    width: 100%;
     width: 100%;
 }

